In [15]:
import pandas as pd

In [39]:

# Cargo la ruta del archivo 'homicidios.csv'
homicidios = pd.read_csv('datasets/homicidios.csv')

# Crear un DataFrame
df_homicidios = pd.DataFrame(homicidios)

In [40]:

# Eliminar asteriscos en todo el DataFrame
df_homicidios.replace('*', '', inplace=True)

---

In [41]:
# Cambiar el tipo de la columna 'NOMBRE_DE_LA_COLUMNA' a objeto (cadena de texto)
df_homicidios['HORA'] = df_homicidios['HORA'].astype(str)

In [42]:

# Mostrar el tipo de datos después de la conversión
df_homicidios['HORA'].head()

0    04:00:00
1    01:15:00
2    07:00:00
3    00:00:00
4    05:20:00
Name: HORA, dtype: object

In [45]:
# Convertir la columna 'HORA' a tipo cadena
df_homicidios['HORA'] = df_homicidios['HORA'].astype(str)

# Limpiar la columna 'HORA' eliminando cualquier caracter no numérico
df_homicidios['HORA'] = df_homicidios['HORA'].str.replace(r'[^0-9:]', '', regex=True)

# Eliminar filas con valores nulos en la columna 'HORA'
df_homicidios = df_homicidios.dropna(subset=['HORA'])

# Tratar específicamente el valor "1401190007:12"
df_homicidios['HORA'] = df_homicidios['HORA'].replace({'1401190007:12': '07:12:00', '0401190018:40': '18:40:00'})

# Convertir la columna 'HORA' a tipo datetime y extraer solo la hora
df_homicidios['HORA'] = pd.to_datetime(df_homicidios['HORA'], format='%H:%M:%S', errors='coerce').dt.time

In [46]:
df_homicidios.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ALTURA,CRUCE,DIRECCIÓN NORMALIZADA,COMUNA,XY (CABA),POS X,POS Y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,01/01/2016,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,SD,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. Y FERNANDEZ DE LA CRUZ, F., G...",8,POINT (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,02/01/2016,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,SD,DE LOS CORRALES AV.,"PAZ, GRAL. AV. Y DE LOS CORRALES AV.",9,POINT (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,03/01/2016,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034,SD,ENTRE RIOS AV. 2034,1,POINT (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,10/01/2016,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,SD,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. Y VILLEGAS, CONRADO, GRAL.",8,POINT (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,21/01/2016,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,SD,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. Y SAENZ PEÃ‘A, LUIS, PRES.",1,POINT (106980.32827929 100752.16915795),-58.38718297,-34.6224663,MOTO-PASAJEROS,MOTO,PASAJEROS

In [47]:
# Guardar el DataFrame modificado
df_homicidios.to_csv('datasets/homicidios.csv', index=False)

In [18]:
# Cargo la ruta del archivo 'poblacion x comuna.xlsx'
poblacion = pd.read_excel('datasets/poblacion x comuna.xlsx')

# Crear un DataFrame
df_poblacion = pd.DataFrame(poblacion)

In [23]:
df_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Comuna  16 non-null     object
 1   2016    16 non-null     int64
 2   2017    16 non-null     int64
 3   2018    16 non-null     int64
 4   2019    16 non-null     int64
 5   2020    16 non-null     int64
 6   2021    16 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.0+ KB

In [24]:
df_poblacion.head(16)

   Comuna     2016     2017     2018     2019     2020     2021
0       1   252053   253271   254408   255457   256405   257235
1       2   149848   149720   149607   149510   149430   149371
2       3   192573   192763   192945   193115   193276   193425
3       4   238303   238809   239279   239712   240100   240437
4       5   186740   186956   187159   187348   187518   187670
5       6   184611   184846   185067   185271   185456   185620
6       7   240116   240607   241065   241484   241861   242188
7       8   225737   226649   227495   228266   228953   229541
8       9   170353   170605   170842   171062   171264   171444
9      10   170163   170282   170394   170497   170592   170677
10     11   189956   189986   190016   190046   190076   190105
11     12   213576   213914   214229   214518   214777   215002
12     13   235819   235967   236107   236238   236358   236468
13     14   226884   226944   227003   227060   227115   227168
14     15   182390   182409   182427   182445   182465   182485
15  Total  3059122  3063728  3068043  3072029  3075646  3078836