# ETL

In [44]:
# Importo las librerias que usaré
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
# Cargo ruta de la data
homicidios_excel = 'F:\BACKUP 2023\Delfina\PI2_DA_SiniestrosViales_Delfina\datasets\homicidios.xlsx'

In [46]:
# Cargo el archivo de Excel en un DataFrame de Pandas
df_homicidios = pd.read_excel(homicidios_excel)

In [3]:
# Visualizo el df_homicidios para saber que debo transformar y/o limpiar
df_homicidios.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ALTURA,CRUCE,DIRECCIÓN NORMALIZADA,COMUNA,XY (CABA),POS X,POS Y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,01/01/2016,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,SD,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. Y FERNANDEZ DE LA CRUZ, F., G...",8,POINT (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,02/01/2016,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,SD,DE LOS CORRALES AV.,"PAZ, GRAL. AV. Y DE LOS CORRALES AV.",9,POINT (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,03/01/2016,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034,SD,ENTRE RIOS AV. 2034,1,POINT (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,10/01/2016,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,SD,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. Y VILLEGAS, CONRADO, GRAL.",8,POINT (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,21/01/2016,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,SD,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. Y SAENZ PEÃ‘A, LUIS, PRES.",1,POINT (106980.32827929 100752.16915795),-58.38718297,-34.6224663,MOTO-PASAJEROS,MOTO,PASAJEROS

In [4]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    object
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   694 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  CALLE                  696 non-null    object
 11  ALTURA                 696 non-null    object
 12  CRUCE                  696 non-null    object
 13  DIRECCIÓN NORMALIZADA  696 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  POS X                  696 non-null    object
 17  POS Y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: int64(5), object(16)
memory usage: 114.3+ KB

Voy a cambiar todas las columnas que contengan valores de tipo 'str' a letras mayúsculas. Además, eliminaré duplicados, si existen, y eliminaré las filas que contengan valores nulos en todas las columnas. Reemplazaré los valores nulos en todas las columnas por 'SD', eliminaré las tildes en los datos str y finalmente cambiaré el tipo de dato de algunas columnas.

---

### Cambiar todas las columnas que contengan valores de tipo 'str' a letras mayúsculas

In [5]:
# Convertir todas las columnas a mayúsculas
df_homicidios = df_homicidios.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# Convertir los nombres de las columnas a mayúsculas
df_homicidios.columns = df_homicidios.columns.str.upper()

In [6]:
df_homicidios.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'CALLE', 'ALTURA', 'CRUCE',
       'DIRECCIÓN NORMALIZADA', 'COMUNA', 'XY (CABA)', 'POS X', 'POS Y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

---

### Observo si hay valores duplicados, de ser así los elimino

In [7]:
# Identifico filas duplicadas basadas en todas las columnas
duplicados_columns = df_homicidios[df_homicidios.duplicated(subset=['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'CALLE', 'ALTURA', 'CRUCE',
       'DIRECCIÓN NORMALIZADA', 'COMUNA', 'XY (CABA)', 'POS X', 'POS Y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'])]

# Mostrar las filas duplicadas
print(duplicados_columns)

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, CALLE, ALTURA, CRUCE, DIRECCIÓN NORMALIZADA, COMUNA, XY (CABA), POS X, POS Y, PARTICIPANTES, VICTIMA, ACUSADO]
Index: []

[0 rows x 21 columns]

No hay duplicados

---

### Observo si hay valores nulos, de ser así los elimino

In [8]:
# Verifico si hay valores nulos en todo el DataFrame
valores_nulos = df_homicidios.isnull().any()

# Mostrar qué columnas tienen valores nulos
print(valores_nulos)

ID                       False
N_VICTIMAS               False
FECHA                    False
AAAA                     False
MM                       False
DD                       False
HORA                      True
HH                       False
LUGAR_DEL_HECHO          False
TIPO_DE_CALLE            False
CALLE                    False
ALTURA                   False
CRUCE                    False
DIRECCIÓN NORMALIZADA    False
COMUNA                   False
XY (CABA)                False
POS X                    False
POS Y                    False
PARTICIPANTES            False
VICTIMA                  False
ACUSADO                  False
dtype: bool

Hay valores nulos, procedo a eliminarlos

In [9]:
# Elimino filas completamente nulas
df_homicidios.dropna(how='all', inplace=True)

---

### Reemplazo los valores null por 'SD' (SInDato)

In [10]:
# Reemplazar los valores nulos de cada columna por 'SD'
df_homicidios = df_homicidios.fillna(value='SD')

---

### Elimino asteriscos y tildes de toda la tabla

In [11]:
# Eliminar asteriscos en todo el DataFrame
df_homicidios.replace('*', '', inplace=True)

---

### Cambio el tipo de dato

In [12]:
# Cambio el tipo de la columna 'NOMBRE_DE_LA_COLUMNA' a objeto (cadena de texto)
df_homicidios['HORA'] = df_homicidios['HORA'].astype(str)

# Converto la columna 'HORA' a tipo cadena
df_homicidios['HORA'] = df_homicidios['HORA'].astype(str)

# Limpio la columna 'HORA' eliminando cualquier caracter no numérico
df_homicidios['HORA'] = df_homicidios['HORA'].str.replace(r'[^0-9:]', '', regex=True)

# Elimino filas con valores nulos en la columna 'HORA'
df_homicidios = df_homicidios.dropna(subset=['HORA'])

# Trato específicamente el valor "1401190007:12"
df_homicidios['HORA'] = df_homicidios['HORA'].replace({'1401190007:12': '07:12:00', '0401190018:40': '18:40:00'})

# Convierto la columna 'HORA' a tipo datetime y extraer solo la hora
df_homicidios['HORA'] = pd.to_datetime(df_homicidios['HORA'], format='%H:%M:%S', errors='coerce').dt.time

---

In [13]:
# Visualizo los cambios
df_homicidios.head(3)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,ALTURA,CRUCE,DIRECCIÓN NORMALIZADA,COMUNA,XY (CABA),POS X,POS Y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,01/01/2016,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,SD,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. Y FERNANDEZ DE LA CRUZ, F., G...",8,POINT (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,02/01/2016,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,SD,DE LOS CORRALES AV.,"PAZ, GRAL. AV. Y DE LOS CORRALES AV.",9,POINT (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,03/01/2016,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034,SD,ENTRE RIOS AV. 2034,1,POINT (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO

In [14]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    object
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   694 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  CALLE                  696 non-null    object
 11  ALTURA                 696 non-null    object
 12  CRUCE                  696 non-null    object
 13  DIRECCIÓN NORMALIZADA  696 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  POS X                  696 non-null    object
 17  POS Y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: int64(5), object(16)
memory usage: 114.3+ KB

In [53]:
if 'FECHA' in df_homicidios.columns:
    # Convertir la columna 'FECHA' a formato datetime
    df_homicidios['FECHA'] = pd.to_datetime(df_homicidios['FECHA'], errors='coerce')

    # Extraer los años de la columna 'FECHA'
    df_homicidios['AÑO'] = df_homicidios['FECHA'].dt.year

    # Obtener los años únicos
    años_unicos = df_homicidios['AÑO'].dropna().unique()  # dropna() elimina valores NaN

    # Imprimir los años únicos
    print("Años únicos en la columna 'FECHA':", años_unicos)
else:
    print("La columna 'FECHA' no se encuentra en el DataFrame.")

Años únicos en la columna 'FECHA': [2016. 2017. 2018. 2019. 2020. 2021.]

Guardo todos los cambios en un nuevo archivo csv

In [34]:
ruta_guardado = 'F:\BACKUP 2023\Delfina\PI2_DA_SiniestrosViales_Delfina\datasets\homicidios.csv'

# Guardo el DataFrame en un archivo CSV para luego importarlo a Looker Studio
df_homicidios.to_csv(ruta_guardado, index=False)

Guardo el archivo de poblacion en un csv

In [40]:
#Cargo ruta del archivo en una variable
poblacion_excel = 'F:\BACKUP 2023\Delfina\PI2_DA_SiniestrosViales_Delfina\datasets\poblacion.xlsx'

# Cargo el archivo de Excel en un DataFrame de Pandas
df_poblacion = pd.read_excel(poblacion_excel)

In [41]:
df_poblacion.head()

   Comuna    2016    2017    2018    2019    2020    2021
0       1  252053  253271  254408  255457  256405  257235
1       2  149848  149720  149607  149510  149430  149371
2       3  192573  192763  192945  193115  193276  193425
3       4  238303  238809  239279  239712  240100  240437
4       5  186740  186956  187159  187348  187518  187670

In [42]:
df_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Comuna  15 non-null     int64
 1   2016    15 non-null     int64
 2   2017    15 non-null     int64
 3   2018    15 non-null     int64
 4   2019    15 non-null     int64
 5   2020    15 non-null     int64
 6   2021    15 non-null     int64
dtypes: int64(7)
memory usage: 968.0 bytes

In [38]:
ruta_guardado_p = 'F:\BACKUP 2023\Delfina\PI2_DA_SiniestrosViales_Delfina\datasets\poblacion.csv'

# Guardar el DataFrame en un archivo CSV para luego importarlo a Looker Studio
df_poblacion.to_csv(ruta_guardado_p, index=False)